In [2]:
import os
import numpy as np
import pandas as pd

file_dir = './repos/atp-matches-dataset/'
data_list = []
for file in os.listdir(file_dir):
     data_list.append(pd.read_csv(file_dir + file))
        
df = pd.concat(data_list, ignore_index=True)

In [3]:
df.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
53566,2014-D078,Davis Cup G2 PO: IRL vs EGY,Hard,4,D,20140404.0,4.0,106387,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53567,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,1.0,108749,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53568,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,2.0,104467,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53569,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,3.0,104467,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53570,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404.0,4.0,109336,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(53571, 49)

In [5]:
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2008-338,Sydney,Hard,32,A,20080107.0,1.0,104755,1.0,NaN,...,4.0,2.0,4.0,66.0,41.0,29.0,11.0,10.0,1.0,3.0
1,2008-338,Sydney,Hard,32,A,20080107.0,2.0,104098,NaN,NaN,...,4.0,2.0,1.0,54.0,37.0,23.0,7.0,9.0,2.0,6.0
2,2008-338,Sydney,Hard,32,A,20080107.0,3.0,103206,NaN,NaN,...,6.0,5.0,1.0,98.0,63.0,34.0,20.0,13.0,6.0,11.0
3,2008-338,Sydney,Hard,32,A,20080107.0,4.0,104269,8.0,NaN,...,8.0,11.0,5.0,99.0,54.0,35.0,19.0,13.0,8.0,13.0
4,2008-338,Sydney,Hard,32,A,20080107.0,5.0,102148,NaN,NaN,...,8.0,3.0,1.0,57.0,31.0,21.0,10.0,10.0,2.0,7.0